.stock-page {
    height: max-content;
    display: flex;
    justify-content: center;
}

.stock-page h1 {
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}

.search-camp {
    background: #171a21;
    height: min(100vh, auto);
    padding-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.stock-camp {
    padding-top: 30px;
    margin: 0;
}

.buscar-button {
    background: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
}