.container-nav {
    width: 100vw;
}

.active-link {
    font-size: 20px;
    text-decoration: none;
    margin-left: 15px;
    font-weight: 600;
    color: #555;
}

.link {
    font-size: 20px;
    text-decoration: none;
    margin-left: 15px;
    font-weight: 600;
    color: #000;
}

.nav-title {
    font-size: 25px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.nav-options {
    display: flex;
    justify-content: end;
    margin: 0;
    padding: 0;
}

.navbar-stock-car {
    display: flex;
    background: #e9eef7;
}

.nav-container {
    padding: 15px 40px;
}

.navbar-fixed-top {
    position: fixed;
    background: #e9eef7;
    width: 100vw;
    z-index: 100;
}