.container-nav {
    background: #000;
    width: 100vw;
}

.active-link {
    text-decoration: none;
    margin-right: 15px;
    color: #444;
}

.link {
    text-decoration: none;
    margin-right: 15px;
    color: #000;
}