.container-itens {
    display: flex;
    justify-content: start;
    min-height: 100vh;
    height: 100%;
    padding-top: 50px;
}

.container-itens-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    min-height: 100vh;
    height: 100%;
}

.container-not-login {
    background: #e9eef7;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.painel-not-login {
    background: #0d131f;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.div-painel-not-login {
    padding: 100px;
    color: #ccc;
}

.painel-not-login img {
    height: 100%;
    width: auto;
    padding: 0;
}

.loading-item {
    color: #101b2b;
    font-size: 50px;
    width: 200px;
    height: 200px;
}

.login-button {
    border: 0;
    padding: 10px 40px;
    margin-top: 10px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}
